/* Style - global*/
.display-flex{
  display: flex;
}

.flex-basis-25{
  flex-basis: 25%;
}

.text-center{
  text-align: center;
}

.text-uppercase{
  text-transform: uppercase;
}


/* Style - student dashboard*/
.student-info-personal{
  margin-left: 20px;
}

.student-info-personal h1{
  font-size: 1.5rem;
  margin: 9px 0;
  color: #313131;
}

.student-info-personal h2{
  font-size: 1rem;
  margin: 0;
  color: #313131;
}

.student-info-container h3 {
  color: #313131;
  margin-bottom: 7px;
}

.student-stat-overview{
  margin: 50px;
}

.student-stat-subtitle{
  font-size: 0.9rem;
  margin: 0;
  display: none;
}

.student-stat-num{
  font-size: 2rem;
  margin: 15px 0 50px 0;
}

.student-stat-overview{
  position: relative;
  justify-content: center;
}

.overview-wrapper{
  position: absolute;
  align-self: center;
}

.student-overview-num{
  font-size: 3rem;
  margin: 10px 0 0 0;
  color: #313131;
}

.dashboard-section-name{
  color: #e2231a;
  display: inline-block;
  margin-left: 17px;
} 

/* Style - student dashboard message */
.dashboard-student-message{
  list-style: none;
  padding-left: 0;
}

.dashboard-message-container{
  margin-bottom: 30px;
}

.message-avatar{
  margin-right: 20px;
  min-width: 50px;
}

.message-time{
  font-size: 0.9rem;
  margin: 5px 0 9px 0;
  color: #313131;
}

.message-status{
  text-transform: uppercase;
  margin-left: 40px;
  font-weight: 700;
  color: #e2231a;
}

.message-waiting{
  color:#313131;
}

.message-context{
  margin-top: 0;
  color: #313131;
  line-height: 1.6rem;
}

/* Tablet view */
@media screen and (min-width: 560px) {
  .student-stat-subtitle{
    display: block;
  }
}